<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.team5.jianzhili">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--The login page-->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The Home page page-->
        <activity
            android:name=".HomePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Myprofile page-->
        <activity
            android:name=".MyProfile"
            android:label="@string/title_activity_my_profile">
            <intent-filter>
                <action android:name="com.example.team5.jianzhili.MyProfile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--This is For the book Page-->
        <activity android:name=".BookPageActivity"
            android:label="@string/title_buy_book">
        </activity>

        <!--Adding new selling information page-->
        <activity android:name=".AddSellingInfoActivity"
            android:label="@string/title_sell_book">
            <intent-filter>
                <action android:name="com.example.team5.jianzhili.AddSellingInfoActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--one book page-->
        <activity
            android:name=".oneBookPage"
            android:label="Book Details">

            <intent-filter>
                <action android:name="com.example.team5.jianzhili.oneBookPage" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
